requests==2.34.2
pandas==3.0.6
tldextract==5.3.2
PyYAML==6.0.3
beautifulsoup4==4.15.0
lxml==6.1.3
peewee==4.5.1
# python-magic    # Linux users can install this package with `apt-get install libmagic1` or `yum install file-libs`.
python-magic-bin  # Windows users can install the `python-magic-bin` package instead.
selenium==4.49.0
pybloom-live==3.1.0